body {
  text-align: center;
}

.green-background {
  background-color: green;
  color: white;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
  color: white;
}

.white-background {
  background-color: white;
}
